# |Python
venv/
__pycache__/
.git/
.pytest_cache/
*.pyc
*.pyo
*.pyd

# |Data
data/**/*.csv

# |Artifacts
#artifacts/*.joblib  

# |Models
#models/*.keras

# |Metrics
metrics/*.json

# DVC
.dvc 

# Mlflow
mlruns  

